<h1>Bizz Buzz</h1>
<p>Hi! Welcome to BizzBuzz, we're excited to help you grow your business online!
Get started by choosing to look at the analytics for one of the following: </p>
<a href="#trends"><button type="button" class="btn btn-outline-default">Trending Content</button></a>
<br>
<a href="#social-media"><button type="button" class="btn btn-outline-default">Social Media Analytics</button></a>
<br>
<a href="#inventory"><button type="button" class="btn btn-outline-default">Inventory Status</button></a>

<div class="container">
  <div id="trends">
    <h3> Top 5 Relevant Trending Words</h3>
      <h4> Twitter </h4>
      <h4> Facebook </h4>
  </div>
</div>

<div class="container">
  <div id="social-media">
    <h3>Here's analytics on your social media profile:</h3>
      <h5>Twitter</h5>
        <p>likes</p>
        <p>retweets</p>
      <h5>Facebook</h5>
        <p>reactions</p>
        <p>comments</p>
        <p>shares</p>
  </div>
</div>

<div class="container">
  <div id="inventory">
    <h3>Stay updated to your inventory:</h3>

  </div>
</div>
