<h1>Bizz Buzz</h1>
<p>Hi! Welcome to BizzBuzz, we're excited to help you grow your business online!
Get started by choosing to look at the analytics for one of the following: </p>
<a href="#trends">Trending Content</a>
<br>
<a href="#social-media">Social Media Analytics</a>
<br>
<a href="#inventory">Inventory Status</a>

<div id="trends">
  <h3> Relevant Trending Words on </h3>
</div>

<div id="social-media">
</div>

<div id="inventory"
