<body id="main-body">
  <nav class="navbar navbar-light navbar-fixed-top">
  <a class="navbar-brand" href="#">
    <svg class="icon-small" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 164 205" enable-background="new 0 0 164 164" xml:space="preserve"><path fill="#afb6eb" fill-rule="evenodd" clip-rule="evenodd" d="M23.876,140.123c31.834,31.836,84.093,31.836,115.927,0  c31.835-31.834,31.835-84.093,0-115.927c-31.835-31.835-84.092-31.835-115.927,0C-7.958,56.031-7.958,108.288,23.876,140.123  L23.876,140.123z M103.334,11.381c14.471,4.391,27.064,13.095,36.282,24.619h-26.125C110.872,27.794,107.497,19.587,103.334,11.381  L103.334,11.381z M70.259,9.109C74.032,8.516,77.9,8.207,81.84,8.207c3.94,0,7.808,0.308,11.581,0.902  c5.022,8.964,8.958,17.927,11.886,26.891H58.374C61.299,27.036,65.237,18.073,70.259,9.109L70.259,9.109z M24.064,36  c9.218-11.523,21.811-20.229,36.282-24.619C56.183,19.587,52.808,27.794,50.189,36H24.064L24.064,36z M116.207,45.586h29.922  c5.404,9.48,8.77,20.273,9.507,31.78h-35.236C120.206,66.773,118.83,56.18,116.207,45.586L116.207,45.586z M55.623,45.586h52.435  c2.62,10.594,3.87,21.187,3.883,31.78H51.74C51.752,66.773,53.002,56.18,55.623,45.586L55.623,45.586z M8.044,77.366  c0.737-11.507,4.102-22.3,9.506-31.78h29.921c-2.622,10.594-3.999,21.187-4.191,31.78H8.044L8.044,77.366z M120.252,86.953h35.384  c-0.736,11.507-4.102,22.3-9.507,31.78h-30.868C118.052,108.14,119.734,97.546,120.252,86.953L120.252,86.953z M52.062,86.953  h59.557c-0.723,10.593-2.642,21.188-5.632,31.78H57.693C54.704,108.141,52.784,97.546,52.062,86.953L52.062,86.953z M17.551,118.733  c-5.405-9.48-8.77-20.273-9.506-31.78h35.383c0.518,10.593,2.2,21.187,4.992,31.78H17.551L17.551,118.733z M112.431,128.319h27.186  c-9.432,11.79-22.396,20.63-37.288,24.916C106.347,144.931,109.722,136.625,112.431,128.319L112.431,128.319z M61.352,153.235  c-14.893-4.286-27.856-13.126-37.288-24.916H51.25C53.958,136.624,57.332,144.93,61.352,153.235L61.352,153.235z M81.84,156.113  c-3.285,0-6.518-0.215-9.689-0.63c-4.519-9.055-8.365-18.108-11.462-27.164h42.303c-3.097,9.056-6.946,18.109-11.463,27.164  C88.357,155.9,85.124,156.113,81.84,156.113z"/>
    <use xlink:href="#icon"></use>
    </svg>
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a href="#trends"><i class="fa fa-hashtag fa-4x"></i></a>
      </li>
      <li class="nav-item">
        <a href="#social-media"><i class="fa fa-line-chart fa-4x"></i></a>
      </li>
      <li class="nav-item">
        <a href="#inventory"><i class="fa fa-list-alt fa-4x"></i></a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>How to use BizzBuzz</h1>
      <h5>DESCRIBE IT PLEASE</h5>
    </div>
  </div>
</div>

<div class="container">
  <div id="trends">
    <div class="row">
      <h2>
        <i class="fa fa-hashtag fa-1x"></i>Top Relevant Trending Words
      </h2>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 style="text-align:center">
          <i class="fa fa-twitter fa-2" aria-hidden="true"></i>
          Twitter
        </h4>
        <div class="col-md-6">
          <h4><a href="https://twitter.com/hashtag/FlashbackFriday?src=tren">#FlashbackFriday</a></h4>
          <h4><a href="https://twitter.com/hashtag/FridayFeeling?src=tren">#FridayFeeling</a></h4>
          <h4><a href="https://twitter.com/hashtag/TheDefenders?src=tren">#TheDefenders</a></h4>
        </div>
      </div>
    </div>
      <div class="row">
        <h4>Suggested Tweet:
          "Feeling like trying something new? Come downtown and checkout our market! #FridayFeeling"</h4>
      </div>
      </div>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 style="text-align:center">
            <i class="fa fa-facebook fa-2" aria-hidden="true"></i>
            Facebook
          </h4>
        <div class="col-md-6">
          <h4><a href="https://www.facebook.com/topic/Solar-Eclipse-of-August-21-2017/110614348966692?source=whfrt&position=3005&trqid=6455596375965657587">Solar Eclipse 2017</a></h4>
          <h4><a href="https://www.facebook.com/topic/Miley-Cyrus/104061006295771?source=whfrt&position=5007&trqid=6455596285834702733">Miley Cyrus</a></h4>
          <h4><a href="https://www.facebook.com/topic/MoviePass/201383956680161?source=whfrt&position=5010&trqid=6455596285834702733">MoviePass</a></h4>
        </div>
        <div>
        </div>
        <div class="row">
          <h4>Suggested Post: "Check us out at Square Market to get food to enjoy while you watch the solar eclipse!"</h4>
        </div>
      </div>
    </div>
  </div>
      </div>

  <div id="social-media">
    <div class="row">
      <h3>
        <i class="fa fa-line-chart fa-2x"></i>
        Social Media Profile Analytics
      </h3>
    </div>
      <div class="col-md-4">
        <h4 style="text-align:center">
          <i class="fa fa-twitter fa-2" aria-hidden="true"></i>
            Twitter
        </h4>
      </div>
      <div class="col-md-8">
        <svg class="icon-small" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100.01" enable-background="new 0 0 100 100.01" xml:space="preserve"><g><g><g><path id="followers" d="M57.564,38.572c0-9.502-7.703-17.203-17.202-17.203c-9.502,0-17.204,7.701-17.204,17.203     c0,9.5,7.702,23.164,17.204,23.164C49.862,61.736,57.564,48.072,57.564,38.572z"></path><path id="followers" d="M65.252,67.082c-4.18-2.404-9.003-3.768-13.9-4.473c-3.147,2.574-6.852,4.205-10.989,4.205     c-3.984,0-7.556-1.527-10.627-3.933c-5.33,0.733-8.907,1.661-8.907,1.661C5.598,67.503,7.988,80.171,7.988,80.171h64.456     C72.441,69.993,65.252,67.082,65.252,67.082z"></path></g><g><path id="followers" d="M57.564,38.572c0-9.502-7.703-17.203-17.202-17.203c-9.502,0-17.204,7.701-17.204,17.203     c0,9.5,7.702,23.164,17.204,23.164C49.862,61.736,57.564,48.072,57.564,38.572z"></path></g></g><polygon id="followers" points="95.02,48.234 84.768,48.234 84.768,37.977 79.689,37.977 79.689,48.234 69.432,48.234    69.432,53.313 79.689,53.313 79.689,63.566 84.768,63.566 84.768,53.313 95.02,53.313  "></polygon></g></svg>
        <svg class="icon-small" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100.01" enable-background="new 0 0 100 100.01" xml:space="preserve"><g><path id="like" d="M68.422,12.527c1.141,0,2.342,0.058,3.639,0.187c7.86,0.763,16.963,7.97,18.068,21.771v4.59   c-1.031,13.214-11.003,29.501-40.148,49.939c-29.14-20.438-39.11-36.727-40.137-49.939v-4.59   c1.105-13.801,10.202-21.008,18.069-21.771c1.291-0.129,2.504-0.187,3.638-0.187c9.085,0,13.444,3.926,18.43,9.875   C54.973,16.453,59.337,12.527,68.422,12.527"></path></g></svg>
        <svg class="icon-small" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100.01" enable-background="new 0 0 100 100.01" xml:space="preserve"><g><path id="rt" d="M50.606,64.447H30.435V50.634h11.05c0.57,0,1.093-0.309,1.354-0.8c0.273-0.499,0.229-1.089-0.1-1.545L26.415,25.445   c-0.281-0.403-0.753-0.643-1.252-0.643c-0.503,0-0.97,0.238-1.259,0.643L7.583,48.289C7.4,48.543,7.306,48.84,7.306,49.137   c0,0.238,0.06,0.477,0.174,0.697c0.266,0.491,0.789,0.801,1.355,0.801h11.057v19.081c0,2.914,2.361,5.274,5.271,5.274h25.442   c2.911,0,5.271-2.36,5.271-5.274C55.877,66.809,53.518,64.447,50.606,64.447z"></path><path id="rt" d="M48.804,37.672h20.17v13.239h-11.05c-0.569,0-1.093,0.31-1.354,0.8c-0.272,0.499-0.229,1.086,0.101,1.545L72.995,76.1   c0.28,0.4,0.753,0.639,1.252,0.639c0.503,0,0.972-0.237,1.26-0.639l16.32-22.844c0.183-0.258,0.276-0.555,0.276-0.852   c0-0.233-0.06-0.471-0.174-0.693c-0.266-0.49-0.787-0.8-1.354-0.8H79.518V32.4c0-2.912-2.359-5.271-5.271-5.271H48.805   c-2.91,0-5.271,2.359-5.271,5.271C43.534,35.311,45.894,37.672,48.804,37.672z"></path></g></svg>
      </div>

      <div class="col-md-4">
        <h4 style="text-align:center">
          <i class="fa fa-facebook fa-2" aria-hidden="true"></i>
            Facebook
        </h4>
      </div>
      <div class="col-md-8">
        <div>
        <svg class="icon-small" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100.01" enable-background="new 0 0 100 100.01" xml:space="preserve"><g><g><g><path id="followers" d="M57.564,38.572c0-9.502-7.703-17.203-17.202-17.203c-9.502,0-17.204,7.701-17.204,17.203     c0,9.5,7.702,23.164,17.204,23.164C49.862,61.736,57.564,48.072,57.564,38.572z"></path><path id="followers" d="M65.252,67.082c-4.18-2.404-9.003-3.768-13.9-4.473c-3.147,2.574-6.852,4.205-10.989,4.205     c-3.984,0-7.556-1.527-10.627-3.933c-5.33,0.733-8.907,1.661-8.907,1.661C5.598,67.503,7.988,80.171,7.988,80.171h64.456     C72.441,69.993,65.252,67.082,65.252,67.082z"></path></g><g><path id="followers" d="M57.564,38.572c0-9.502-7.703-17.203-17.202-17.203c-9.502,0-17.204,7.701-17.204,17.203     c0,9.5,7.702,23.164,17.204,23.164C49.862,61.736,57.564,48.072,57.564,38.572z"></path></g></g><polygon id="followers" points="95.02,48.234 84.768,48.234 84.768,37.977 79.689,37.977 79.689,48.234 69.432,48.234    69.432,53.313 79.689,53.313 79.689,63.566 84.768,63.566 84.768,53.313 95.02,53.313  "></polygon></g></svg>
        <svg class="icon-small" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" style="enable-background:new 0 0 100 100;" xml:space="preserve"><path id="reactions"d="M94.6,39.9c-2.9-3.3-7.4-4-11-4.2c-3.4-0.2-8.1-0.1-14,0.4c1.4-6,3.7-15.5,4.6-20.2c1-5.2-2-9.8-7.1-11.3  c-4.9-1.4-9.7,0.7-11.4,4.9l-0.6,1.4c-2.7,7-10,25.5-21.9,28.9c0,0,0,0-0.1,0c-2-2.2-4.8-3.5-8-3.5H13.3c-6,0-10.8,4.8-10.8,10.8  v36.1c0,6,4.8,10.8,10.8,10.8h11.9c3.2,0,6.1-1.4,8.1-3.6c5.9,1.2,28.9,5.7,43.4,5.7c5.3,0,16.3,0,17.6-12c0.6-5,2.4-21.9,3-31.4  C97.8,46.5,97,42.6,94.6,39.9z M91.3,52.1c-0.7,9.5-2.5,26.3-3,31.2c-0.5,4.5-2.3,6.5-11.6,6.5c-12.8,0-33.4-3.8-40.8-5.3  c0.1-0.5,0.1-1,0.1-1.5V47c0-0.6-0.1-1.2-0.2-1.7c14.2-4.8,21.7-23.9,24.9-32.2l0.5-1.3c0.7-1.8,2.9-1.7,4-1.3  c0.8,0.2,3.4,1.2,2.8,4.3c-1.1,6-4.5,19.9-5.5,24.1c-0.2,1,0,2,0.7,2.7c0.6,0.7,1.6,1.1,2.6,1c5.7-0.6,10.4-0.9,14-0.9  c1.2,0,2.3,0,3.2,0.1c3.6,0.2,5.7,0.9,6.8,2.1C91.2,45.3,91.6,48,91.3,52.1z"/></svg>
        <svg class="icon-small" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 100 125" x="0px" y="0px"><title>all</title><g><g><g data-name="Zoom In"><g data-name="Calendar"><g><g><g><g><g><g><g><g><g data-name="Play - Orange"><g data-name="Arrow Right - Orange"><g><path id="comment" d="M100,54.37A20.18,20.18,0,0,1,84,74.5,24.72,24.72,0,0,1,79,75C71.66,75,64.35,75,57,75a3.2,3.2,0,0,0-1.92.72q-12.43,11-24.82,22c-0.19.18-.41,0.34-0.84,0.69V75H27.69c-3.56-.1-7.16.15-10.65-0.36A20,20,0,0,1,.1,55.08q-0.2-16.75,0-33.52c0.14-11.29,9.14-20,20.59-20,16-.05,32.07,0,48.11,0,3.48,0,7,0,10.45,0,10.66,0,18.88,7,20.54,17.57a31,31,0,0,1,.19,4.92C100,34.16,100,44.26,100,54.37Z"/></g></g></g></g></g></g></g></g></g></g></g></g></g></g></g></svg>
        <svg class ="icon-small" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100.01" enable-background="new 0 0 100 100.01" xml:space="preserve"><path id="share" d="M94.287,50.072L54.391,12.555V35.74c-9.687,0.847-49.083,6.92-49.083,49.67c0,0.607,0.371,1.154,0.934,1.38  c0.18,0.069,0.365,0.104,0.552,0.104c0.399,0,0.788-0.162,1.079-0.465c0.191-0.203,19.037-19.664,46.521-20.673v21.845  L94.287,50.072z"></path></svg>
        </div>
      </div>
    </div>
  <div id="inventory">
    <h3>
      <i class="fa fa-list-alt fa-2x"></i>
      Stay updated to your inventory:</h3>
  </div>
</div>

</div>

    </div>
  </div>
</body>
