<div class="container">
  <h1>BizzBuzz </h1>
  <p> Get buzz for your business </p>

  <a href="pages/data.html"><button type="button" class="btn btn-outline-info">Get Started</button></a>

</div>

<div class="container">
</div>
