<div class="container index-page">
  <h1>BizzBuzz </h1>
  <h2>Get buzz for your bizness</h2>

  <svg class="icon-title" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 164 205" enable-background="new 0 0 164 164" xml:space="preserve"><path fill="pink" fill-rule="evenodd" clip-rule="evenodd" d="M23.876,140.123c31.834,31.836,84.093,31.836,115.927,0  c31.835-31.834,31.835-84.093,0-115.927c-31.835-31.835-84.092-31.835-115.927,0C-7.958,56.031-7.958,108.288,23.876,140.123  L23.876,140.123z M103.334,11.381c14.471,4.391,27.064,13.095,36.282,24.619h-26.125C110.872,27.794,107.497,19.587,103.334,11.381  L103.334,11.381z M70.259,9.109C74.032,8.516,77.9,8.207,81.84,8.207c3.94,0,7.808,0.308,11.581,0.902  c5.022,8.964,8.958,17.927,11.886,26.891H58.374C61.299,27.036,65.237,18.073,70.259,9.109L70.259,9.109z M24.064,36  c9.218-11.523,21.811-20.229,36.282-24.619C56.183,19.587,52.808,27.794,50.189,36H24.064L24.064,36z M116.207,45.586h29.922  c5.404,9.48,8.77,20.273,9.507,31.78h-35.236C120.206,66.773,118.83,56.18,116.207,45.586L116.207,45.586z M55.623,45.586h52.435  c2.62,10.594,3.87,21.187,3.883,31.78H51.74C51.752,66.773,53.002,56.18,55.623,45.586L55.623,45.586z M8.044,77.366  c0.737-11.507,4.102-22.3,9.506-31.78h29.921c-2.622,10.594-3.999,21.187-4.191,31.78H8.044L8.044,77.366z M120.252,86.953h35.384  c-0.736,11.507-4.102,22.3-9.507,31.78h-30.868C118.052,108.14,119.734,97.546,120.252,86.953L120.252,86.953z M52.062,86.953  h59.557c-0.723,10.593-2.642,21.188-5.632,31.78H57.693C54.704,108.141,52.784,97.546,52.062,86.953L52.062,86.953z M17.551,118.733  c-5.405-9.48-8.77-20.273-9.506-31.78h35.383c0.518,10.593,2.2,21.187,4.992,31.78H17.551L17.551,118.733z M112.431,128.319h27.186  c-9.432,11.79-22.396,20.63-37.288,24.916C106.347,144.931,109.722,136.625,112.431,128.319L112.431,128.319z M61.352,153.235  c-14.893-4.286-27.856-13.126-37.288-24.916H51.25C53.958,136.624,57.332,144.93,61.352,153.235L61.352,153.235z M81.84,156.113  c-3.285,0-6.518-0.215-9.689-0.63c-4.519-9.055-8.365-18.108-11.462-27.164h42.303c-3.097,9.056-6.946,18.109-11.463,27.164  C88.357,155.9,85.124,156.113,81.84,156.113z"/></svg>

  <p> BizzBuzz helps local business owners market their stores online. The chat bot
  communicates through SMS offering different options to promote your store on social media. A web application provides
  data visualization on trending content, social media analytics, and inventory.</p>

  <br>

  <p> BizzBuzz provides suggestions to promote marketing so that you can spend more time on your business </p>

  <br>

  <p>Ready to bring your business online?</p>

  <a href="pages/connect.html">
    <button type="button" class="btn btn-default btn-sm">Get Started
      <span class="glyphicon glyphicon-menu-right"></span>
    </button>
  </a>

</div>

<div class="container">
</div>
