/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//color variables
$light-blue: #07C8E2;
$dark-blue: #00426C;
$white: white;
$yellow: #F0B72B;
$orange: #FA6433;
$text-color: #595959;
$background-color: #E1F6FF;

 body {
   text-align: left;
   background-color: $background-color;
   color: $text-color;
 }

 footer {
    margin-top: 100px;
  }

#rt{
  fill: $yellow;
}

#like{
  fill: $orange;
}

#share{
  fill: $white;
}

#fb {
  fill:$light-blue;
}

#reactions {
  fill: $orange;
}

#comment {
  fill: $text-color;
}
#trend {
  fill: $white;
}
#followers {
  fill: $dark-blue;
}

#inventory{
  fill: $light-blue;
}
.icon-size {
  width: 100px;
  height: 100px;
}

.title-icon{
  width: 250px;
  height: 250px;
}
@import "pages";
