// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//color variables
$light-blue: #07C8E2;
$dark-blue: #00426C;
$white: white;
$yellow: #F0B72B;
$orange: #FA6433;
$text-color: #595959;
$background-color: #E1F6FF;

body {
  text-align: left;
}
